<br>
<article>
{{#each @model.modeltimerecordscsvs as |mdt|}}
    <h3 class="text-2xl italic">{{mdt.date}}</h3>
                <br>
                <h3>{{mdt.user}}</h3>
                <br>
                <h3>{{mdt.minutes}}</h3>
                <br>
                <h3>{{mdt.ticket}}</h3>
                <br>
                <h3>{{mdt.code}}</h3>
                <br>
                <h3>{{mdt.billable}}</h3>
{{/each}}
</article>

{{!-- {{ember-chart type='bar' data=@model.modeltimerecordscsvs width=200 height=200}} --}}